<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>132197726015-6dphgrglbb4ouju3gvtg9kqv27e9dopg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132197726015-6dphgrglbb4ouju3gvtg9kqv27e9dopg</string>
	<key>API_KEY</key>
	<string>AIzaSyBKKoTo-ZH5xsQz_J4n84BH0zlcAgRvfCw</string>
	<key>GCM_SENDER_ID</key>
	<string>132197726015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.chemistry.Cammeet</string>
	<key>PROJECT_ID</key>
	<string>cammeet-c4266</string>
	<key>STORAGE_BUCKET</key>
	<string>cammeet-c4266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132197726015:ios:00137046c06d4a13</string>
	<key>DATABASE_URL</key>
	<string>https://cammeet-c4266.firebaseio.com</string>
</dict>
</plist>